.advantages {
  width: 100%;
  background-color: $color-solitude;
}

.advantages__container {
  position: relative;
  max-width: 100%;
  height: 100%;
  padding: 0;
}

.advantages__image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
  }
}

.advantages__content {
  position: relative;
  max-width: 1366px;
  margin: auto;
  padding: 110px 103px 120px;

  @include vp-1023 {
    padding: 90px 45px 100px;
  }

  @include vp-767 {
    padding: 58px 15px 64px;
  }

  h2 {
    font-size: 28px;
    line-height: 42px;
    font-weight: 600;
    color: $color-tangaroa;
    margin: 0 0 49px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      font-size: 24px;
      line-height: 34px;
      margin: 0 0 31px;
    }
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: repeat(1, 1fr);
  }
}

.advantages__item {
  margin: 0;
  padding: 30px 30px 45px;
  background-color: $color-alice-blue;

  @include vp-1023 {
    padding: 26px 18px 21px;
  }

  svg {
    @include vp-1023 {
      height: 26px;
    }
  }

  h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    color: $color-tangaroa;
    margin: 12px 0 8px;

    @include vp-1023 {
      line-height: 25px;
    }

    @include vp-767 {
      max-width: 78%;
    }
  }

  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: $color-tangaroa;
    margin: 0;

    @include vp-767 {
      margin-bottom: 0;
    }
  }
}
