.btn {
  display: block;
  padding: 10px 20px;

  color: $color-tangaroa;

  background-color: $color-alice-blue;
  border: none;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  transition: opacity $trans-default;

  &--red {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
